/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


#login{
  padding: 5% 25%;
  background: whitesmoke;
  height: 100vh;
}
#login >.formbody{
      border: 2px #21252973 solid;
      padding: 5%;
      background: white;
      border-radius: 5px;
}
